@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --base-color: 194;
    --primary-color: hsl(var(--base-color), 100%, 63%);
    --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --text-color: #ffffff;
    font-size: 62.5%;
}

.hide {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    display: grid;
    min-height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play svg path,
.pause svg path,
.sound-on svg path {
    background-color: var(--primary-color);
}

button svg {
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem)
}

main {
    align-self: flex-end;
    justify-self: center;
}

footer {
    align-self: end;
    justify-self: end;
    padding: 0 4rem 3.2rem 0;
}

#timer {
    font-size: 8.8rem;
    display: flex;
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    margin-bottom: 1.6rem;
}

#controls {
    display: flex;
    background-color: var(--bg-primary-light);
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    gap: 3.2rem;
    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vw, 10.8rem);
}